<div class="page-header">
    <h1>Trivia Game!</h1>
</div>
{% block content1 %}

{% if current_user.is_authenticated %}
<p>Welcome, {{ current_user.name }}</p> <img height="50" width="50" src="{{ current_user.avatar }}" />
{% endif %}

{% endblock %}

{% block nav %}
<p>------------</p>
<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('login') }}">Log in</a></li>
    <li><a href="{{ url_for('logout') }}">Log out</a></li><br>
    <li><a href="{{ url_for('home')}}">Go home.</a></li>
    <li><a href="{{ url_for('play_trivia')}}">Play trivia!</a></li>
    <li><a href="{{ url_for('score')}}">See your scores</a></li>
    <li><a href="{{ url_for('create_question')}}">Create your own questions</a></li>
    <li><a href="{{ url_for('see_my_questions')}}">See your trivia questions</a></li>
    <li><a href="{{ url_for('see_all_user_trivia')}}">See all user-created questions</a></li>
</ul>
<p>------------</p>
{% endblock %}

{% block content %}
<form action="{{ url_for('play_trivia') }}" method="POST">
    {{ form.number.label() }}{{ form.number() }}<br><br>
    {{ form.category.label() }}{{ form.category() }}<br>
    {{ form.difficulty.label() }}{{ form.difficulty() }}<br>
    {{ form.type.label() }}{{ form.type() }}<br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>
<div>
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
</div>
{% endblock %}
