{% extends 'base.html' %}

{% block content1 %}
<h2> Answer a Trivia Question!:</h2><br><br>
<ul>
    <li><b>{{ q }}</b></li><br>
    <form action="{{ url_for('play_trivia') }}" method="POST">
        {{ form.option.label() }}{{ form.option() }}<br> <!-- Need to figure out if this will take input to all, not just one, given that multiple answers will be input. Will they overwrite? -->
  <br>{{ form.submit() }}
  {{ form.hidden_tag() }}
  </form>
  </ul>
  <br><br>
<!--
  {% if cont %}
    <h3>See Answers: </h3><br>
    {% for ca in correct_answs %}
      {{ each }} <br>
    {% endfor %}
  {% endif %}

{% endblock %}
-->
