{% extends 'base.html' %}

{% block content %}
<h2> Answer a Trivia Question!</h2><br><br>
    <b>{{ q }}</b><br>
    <form action="{{ url_for('play_trivia') }}" method="POST">
      {{ form.option.label() }}{{ form.option() }}<br>
    {% if cont %}
        <h3>Correct Answer: </h3>{{ ca }}<br>
        <h3>Your Answer: </h3>{{ ya }}<br><br>

        <a href="{{ url_for('play_trivia')}}">Play again!</a>
    {% else %}
      <br>{{ form.submit() }}
      {{ form.hidden_tag() }}
    </form>
    <br><br>
    {% endif %}

{% endblock %}
